.covid-active{
    background: rgba(255,7,58,.12549);
    color: #ff073a;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
    width: 90px
}

.covid-confirm{
    background: rgba(0,123,255,.0627451);
    color: lightseagreen;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
    width: 90px
}

.covid-deaths{
    background: rgba(40,167,69,.12549);
    color: #ff073a;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
    width: 90px
}

.ant-alert-message{
    font-weight: 800;
    font-size: 18px;
    color: lightslategray;
    position: relative;
    padding-left: 20px;
    left: 20px;
}